*{
    padding: 0;
    margin: 0;
    
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
h1{
    background-image: url("img/back4.jpg");
    text-align: center;
    padding: 3rem;
    animation: change 10s infinite ease-in-out;
    font-size: 2.5rem;
    overflow: hidden;
    position: relative;
    background-size: cover;
    margin-bottom: 0.2rem;
   
}
body{
    background-color: rgb(119, 205, 157);
}
s{
    background-image: url("img/back4.jpg");
    font-family: 'poppins',sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
   
}
.cover{
    width:100%;
    height: 40rem;
    
    display: flex;
    flex-wrap: nowrap;
   margin: 0.2rem;
}
.box{
    background-image: url("img/back2.jpg");
    width: 23rem;
    height: 10rem;
    margin: 10px;
}
img{
    width:21.2rem;
    height:23rem;
}
marquee{
    background-color: rgb(243, 107, 107);
    padding: 1rem;
}
h2{
    background-image: url("img/back9.jpg");
    padding:1.5rem ;
    font-size: 2.2rem;
    text-align: center;
}
h3{
    background-image: url("img/back4.jpg");
    padding: 1.5rem;
   
    text-align: center;
}
@media(max-width:998px){
    html{
        font-size: 55%;
    }
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
}

@keyframes change{
    0%{
        background-image: url("img/back2.jpg");
    }
    20%{
        background-image: url("img/back.jpg");
    }
    40%{
        background-image: url("img/back6.jpg");
    }
    60%{
        background-image: url("img/kevachh.jpg");
    }
    80%{
        background-image: url("img/back4.jpg");
    }
    100%{
        background-image: url("img/back6.jpg");
    }
}